<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <%- include('partials/header') -%>
    <section id="login">
      <div class="container">
        <h1 class="section-header">Forgot Password</h1>
        <div id="form">
          <form action="/userforgotpassword" method="POST">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
                class="form-input"
                autocomplete="email"
              />
            </div>

            <div class="submit">
              <input
                id="btn-login"
                style="background-color:#5624d0;; color: white; width: 150px"
                type="submit"
                value="send Link"
              />
              <% if (locals.errorMessage) { %>
              <p style="color: red"><%= locals.errorMessage %></p>
              <% } %> <% if (locals.successMessage) { %>
              <p style="color: rgb(29, 137, 67)">
                <%= locals.successMessage %>
              </p>
              <% } %> <% if (locals.error) { %>
              <div style="color: red; text-align: center; margin-top: 10px">
                <%= error %>
              </div>
              <% } %>
              <a href="/login" id="signup">Back</a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <%- include('partials/footer') -%>

    <!-- <script src="script/loginScript.js"></script> -->
  </body>
</html>
